{
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "bracketSpacing": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto",
  "quoteProps": "as-needed"
}